[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
"psycopg2-binary" = "*"
Django = "==2.2.24"
django-widget-tweaks = "*"
pymemcache = "*"
"python3-memcached" = "*"

[dev-packages]

[requires]
python_version = "3.6"
