html, body {
  margin: 0;
  height: 100%;
}


#voter-chart {
	padding-bottom: 20px;
}

.button-container{
	padding-top: 100px;
	padding-bottom: 100px;
}


.bar { fill: steelblue; }


.errorlist {
	color:red;	
}