{% extends "root_page.html" %}
{% load static %}
{% block head_content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script type="text/javascript" src="/static/js/main_chart.js"></script>
{% endblock %}
{% block body_content %}

<canvas id="voter-chart"></canvas>

{% if user.is_authenticated %}
<div id="button-container" align="center">
	<button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" id="send_vote_btn"><i class="fa fa-heart"></i> I love pizza!</button>
</div>
{% else %}
<p>Do you love pizza?  <a href="{% url 'login' %}">Sign in and vote</a></p>
{% endif %}



{% endblock %}

{% block footer_scripts %}
 {% if user.is_authenticated %}
 <script>
 
 
 $("#send_vote_btn").on('click', function(){
	$.ajax({
		url: "/vote_manager/send_vote",
		success: function(){
			// update existing chart 
			get_chart();
			$.notifyBar({ cssClass: "success", html: "Vote sent. Thank you!", position: "bottom" });
		}
	})
 })
 
  
 </script>
{% endif %}


{% endblock %}

